<!-- INSERT CONTENT HERE -->
<div class=content ng-app="KrChessApp" ng-controller="MainController">
    <div class="row" ng-repeat="i in getNumber(dim.rows) track by $index" tabindex='1' ng-focus="focus=true" ng-blur="focus=false" ng-class="{'active':focus===true}">
        <div class="column" id="{{$parent.$index + 1}}X{{$index+1}}" ng-repeat="i in getNumber(dim.cols) track by $index" tabindex='1' ng-focus="focus=true" ng-blur="focus=false" ng-class="{'active':focus===true}">
            {{ $parent.$index + 1 }} X {{ $index + 1 }}
        </div>
    </div>
    <!--reload button-->
    <input type="button" value="reload" ng-click="getDim()" />
</div>
